@charset "UTF-8";
/* ESTILOS DE FUENTES */
@font-face {
  font-family: outfit;
  src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: latoRegular;
  src: url(../assets/fonts/lato/Lato-Regular.ttf);
}
@font-face {
  font-family: latoBold;
  src: url(../assets/fonts/lato/Lato-Bold.ttf);
}
@font-face {
  font-family: latoLight;
  src: url(../assets/fonts/lato/Lato-Light.ttf);
}
@font-face {
  font-family: latoThin;
  src: url(../assets/fonts/lato/Lato-Thin.ttf);
}
/* CONFIGURACIÓN GENERAL */
html {
  font-size: 62.5%;
}
html body {
  margin: 0;
  padding: 0;
  line-height: 2;
  font-family: outfit;
}
html body ul {
  list-style-type: none;
}

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
#header {
  transition: all 0.6s ease;
  z-index: 997;
}

.logo {
  color: black;
  font-weight: bold;
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-right: 1%;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  letter-spacing: 1.5px;
}

/*--------------------------------------------------------------
# MENÚ DE NAVEGACIÓN
--------------------------------------------------------------*/
#navbarSupportedContent {
  font-size: 3vh;
  font-weight: bold;
  padding-left: 10.4%;
  color: black;
  text-transform: uppercase;
}

.navbar {
  background-color: white;
}

.dropdown-menu {
  font-family: outfit;
  font-weight: normal;
  color: black;
  text-transform: uppercase;
  width: max-content;
}

.navbar a {
  text-decoration: none;
  color: black;
  display: inline-block;
  transition: 0.3s;
  width: max-content;
}
.navbar a:hover {
  color: rgb(185, 134, 134);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0px 0px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: rgb(255, 255, 255);
  transition: all 0.6s ease;
}
.navbar .dropdown ul a {
  font-size: 2.5vh;
  font-weight: bolder;
  text-transform: uppercase;
}
.navbar .dropdown ul a:hover {
  background-color: transparent;
}
.navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover a {
  background-color: transparent;
}
.navbar .dropdown:hover ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

/*--------------------------------------------------------------
# PORTADA
--------------------------------------------------------------*/
.portada {
  margin: 0;
}

.contenedorPortada {
  position: relative;
  display: inline-block;
  text-align: center;
}
.contenedorPortada img {
  width: 100%;
  height: auto;
}

.tituloPortada {
  text-transform: uppercase;
  position: absolute;
  top: 23vw;
  left: 12vw;
}
.tituloPortada h2 {
  font-weight: bold;
  font-size: 5vw;
  letter-spacing: 2px;
}
.tituloPortada p {
  text-align: center;
  letter-spacing: normal;
  font-size: 3vw;
}

/*--------------------------------------------------------------
# SECCIÓN INGRESOS
--------------------------------------------------------------*/
.ingresos {
  text-transform: uppercase;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.ingresos h2 {
  font-size: x-large;
  font-weight: bold;
}

.ingresosImg {
  justify-content: space-around;
  margin: 0;
}

.tituloIngresos {
  padding-top: 6vh;
  padding-bottom: 5vh;
  margin-left: 7vw;
}

.itemIngresos {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: max-content;
  overflow: hidden;
}
.itemIngresos p {
  margin-top: 2vw;
  margin-bottom: 5vw;
  font-size: 2.9vh;
}
.itemIngresos:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.6s;
}

.itemIngresos1 {
  padding-left: 13%;
  padding-right: 0;
  margin-right: 0;
}

.itemIngresos2 {
  padding-right: 13%;
  padding-left: 0;
  margin-left: 0;
}

/*--------------------------------------------------------------
# SECCIÓN TIENDAS
--------------------------------------------------------------*/
.indumentariaBikini {
  font-family: outfit;
  text-transform: uppercase;
  background-color: black;
  padding-top: 5vw;
}
.indumentariaBikini h2 {
  color: white;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding-bottom: 4vw;
  letter-spacing: 2px;
}

.tituloTienda h2 {
  font-size: 3.5vw;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
  padding-bottom: 1.7vw;
}

.flyTiendas {
  overflow: hidden;
}
.flyTiendas p {
  text-align: center;
  letter-spacing: normal;
  font-size: 1.8vw;
  color: white;
  margin: 0%;
}
.flyTiendas img {
  width: 100%;
  height: auto;
  filter: grayscale(50%);
}
.flyTiendas:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  filter: grayscale(0%);
  transition: all 2s ease;
}
.flyTiendas a {
  text-decoration: none;
  color: black;
  display: inline-block;
  color: black;
  font-size: 1.3vw;
  background-color: white;
  padding: 1vw;
  border-radius: 4px;
  font-weight: bold;
}
.flyTiendas a:hover {
  color: rgb(122, 73, 73);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.tiendas {
  padding: 0%;
  margin: 0%;
  text-align: center;
}

.tituloTienda {
  position: relative;
  bottom: 38vw;
}

/*--------------------------------------------------------------
# SECCIÓN INSTAGRAM Y ELEGIR
--------------------------------------------------------------*/
.instagram {
  font-family: outfit;
  text-transform: uppercase;
  padding-top: 4vw;
  padding-bottom: 4vw;
  background-color: rgba(185, 134, 134, 0.6117647059);
}

.tituloInsta {
  padding-bottom: 4vw;
}
.tituloInsta h2 {
  text-align: center;
  font-size: 4vh;
  font-weight: bold;
}

.linkInstagram {
  margin: 0;
  padding: 0;
}

.enlacesInsta {
  padding-bottom: 3vw;
}

/* Sección Elegir */
.elegir {
  font-family: latoRegular;
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.elegir h2 {
  font-family: outfit;
  font-weight: bold;
  font-size: 5vh;
  margin-bottom: 3vw;
}
.elegir p {
  font-weight: normal;
  font-size: 4vh;
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.footer {
  font-family: outfit;
  color: white;
  background-color: black;
  padding-top: 4vw;
  padding-bottom: 4vw;
  margin: 0%;
}
.footer h2 {
  font-family: outfit;
  font-weight: bold;
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 2vw;
  letter-spacing: 2px;
}
.footer h3 {
  font-size: large;
}

.imagenSvgFooter {
  width: auto;
  height: 6vh;
}

.redes {
  padding-top: 3vw;
}

/*--------------------------------------------------------------
# FLY BIKINIS
--------------------------------------------------------------*/
.tituloPortada2 {
  font-family: outfit;
  text-transform: uppercase;
  position: absolute;
  top: 23vw;
  left: 15vw;
}
.tituloPortada2 h2 {
  font-weight: bold;
  font-size: 5vw;
  letter-spacing: 2px;
}
.tituloPortada2 p {
  text-align: center;
  letter-spacing: normal;
  font-size: 2.5vw;
}

.productosBikinis {
  padding-top: 8vw;
  margin: 0%;
}
.productosBikinis p {
  font-family: outfit;
  font-size: 2.9vh;
  margin-top: 1vw;
  margin-bottom: 5vw;
  font-weight: bold;
  text-transform: uppercase;
}

.fotosFlyBikinis {
  margin: 0%;
  padding: 0%;
}

/*--------------------------------------------------------------
# FLY INDUMENTARIA
--------------------------------------------------------------*/
.tituloPortada3 {
  font-family: outfit;
  text-transform: uppercase;
  position: absolute;
  top: 25vw;
  left: 25vw;
  color: white;
}
.tituloPortada3 h2 {
  font-weight: bold;
  font-size: 5vw;
  letter-spacing: 2px;
}
.tituloPortada3 p {
  text-align: center;
  letter-spacing: normal;
  font-size: 2.5vw;
}

/*--------------------------------------------------------------
# QUIENES SOMOS
--------------------------------------------------------------*/
.sobreFly {
  padding: 0%;
  margin: 0%;
}
.sobreFly img {
  width: 100%;
  height: auto;
}

.titulo4 {
  padding: 0%;
  margin: 0%;
  padding-top: 4vw;
  padding-bottom: 4vw;
  border-top: solid black 3px;
  border-bottom: solid black 3px;
}
.titulo4 h2 {
  font-family: outfit;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 7vh;
}

.imgSobreFly {
  padding: 0%;
  margin: 0%;
}

.quienesSomos {
  padding: 0%;
  margin: 0%;
  padding-top: 6vw;
  padding-bottom: 6vw;
}

.titulo5 {
  margin-bottom: 3.5vw;
}
.titulo5 h3 {
  font-family: outfit;
  font-weight: bold;
  font-size: 5vh;
}

.descripcion1 {
  padding-left: 12vw;
  padding-right: 12vw;
}
.descripcion1 p {
  font-family: outfit;
  font-weight: normal;
  font-size: 2.9vh;
}

/*--------------------------------------------------------------
# SECCIÓN CONTACTO
--------------------------------------------------------------*/
.contacto {
  padding: 0%;
  margin: 0%;
  padding-top: 5vw;
  padding-bottom: 5vw;
  background-color: #C8ACA1;
}

.titulo5 {
  padding: 0%;
  margin: 0%;
  padding-bottom: 1vw;
}
.titulo5 h2 {
  font-family: outfit;
  font-weight: bold;
  font-size: 7vh;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subtituloContacto {
  padding: 0%;
  margin: 0%;
}
.subtituloContacto h3 {
  font-family: outfit;
  font-weight: normal;
  font-size: 5vh;
}

.datos {
  margin: 0%;
  padding: 0%;
  padding-top: 6vw;
  padding-bottom: 6vw;
}

.itemsDatos h3 {
  font-family: outfit;
  font-weight: normal;
  font-size: 5vh;
  padding-bottom: 4vw;
}
.itemsDatos p {
  font-family: outfit;
  font-weight: normal;
  font-size: 2.9vh;
}

.imagenSvg {
  width: auto;
  height: 5.5vh;
  margin-bottom: 0.5vw;
}

.formulario {
  font-family: latoRegular;
  font-size: 2.5vh;
  padding-top: 1vw;
}

.inputs {
  margin-bottom: 1.5vw;
  text-align: center;
}

.textInput {
  width: 20vw;
  color: black;
  font-weight: normal;
}

@media (max-width: 767px) {
  .textInput {
    width: max-content;
    color: black;
    font-weight: normal;
  }
}
.boton {
  font-family: outfit;
  text-transform: uppercase;
  color: black;
  background-color: #C8ACA1;
  border: none;
  border-radius: 4px;
  padding: 0.5vw;
  margin-right: 2vw;
  margin-left: 2vw;
  text-align: center;
}
.boton:hover {
  color: white;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.5s ease;
}

/*--------------------------------------------------------------
# SECCIÓN AYUDA
--------------------------------------------------------------*/
.contenedorImgAyuda {
  position: relative;
  display: inline-block;
  text-align: center;
}

.contenedorImgAyuda img {
  width: 100%;
  height: auto;
}

.tituloAyuda {
  font-family: outfit;
  text-transform: uppercase;
  position: absolute;
  top: 15vw;
  left: 27vw;
}
.tituloAyuda h2 {
  font-weight: normal;
  font-size: 5vw;
  letter-spacing: 1px;
  color: white;
}

.respuestas {
  margin: 0%;
  padding: 0%;
  margin-bottom: 6vw;
}
.respuestas h3 {
  font-family: latoRegular;
  font-weight: bold;
  font-size: 5.3vh;
  margin-top: 5vw;
}

.imgSvgAyuda {
  width: auto;
  height: 7vh;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 4vw;
  margin-bottom: 3.5vw;
}

.opciones {
  padding-left: 13vw;
  padding-right: 13vw;
}
.opciones h4 {
  font-family: latoRegular;
  font-weight: bold;
  font-size: 4.3vh;
  margin-bottom: 1.1vw;
}
.opciones h5 {
  font-family: latoLight;
  font-weight: bold;
  font-size: 3.8vh;
  margin-bottom: 1.1vw;
}
.opciones p {
  font-family: latoLight;
  font-weight: normal;
  font-size: 3vh;
}

/* Políticas */
.contenedorImgPolitica {
  position: relative;
  display: inline-block;
  text-align: center;
}
.contenedorImgPolitica img {
  width: 100%;
  height: auto;
}

.tituloPolitica {
  font-family: outfit;
  text-transform: uppercase;
  position: absolute;
  width: 40vw;
  text-align: left;
  top: 13vw;
  left: 3vw;
}
.tituloPolitica h2 {
  font-weight: normal;
  font-size: 5vw;
  letter-spacing: 1px;
  color: black;
}

.tituloRespuestas p {
  font-family: latoLight;
  font-weight: normal;
  font-size: 3vh;
  padding-left: 13vw;
  padding-right: 13vw;
  margin-top: 4vw;
}

/*# sourceMappingURL=style.css.map */
