
/* ESTILOS DE FUENTES */

@font-face {
    font-family: outfit;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: latoRegular;
    src: url(../assets/fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: latoBold;
    src: url(../assets/fonts/lato/Lato-Bold.ttf);
}

 @font-face {
    font-family: latoLight;
    src: url(../assets/fonts/lato/Lato-Light.ttf);
}
@font-face {
    font-family: latoThin;
    src: url(../assets/fonts/lato/Lato-Thin.ttf);
}

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

#header {
    transition: all 0.5s;
    z-index: 997;
}

.logo {
    font-family: outfit;
    font-weight: bold;
    color: black;
    font-size: 35px;
    text-transform: uppercase;
    margin-right: 12%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    letter-spacing: 1px;
}

/*--------------------------------------------------------------
# MENÚ DE NAVEGACIÓN
--------------------------------------------------------------*/

#navbarSupportedContent {
    font-family: latoRegular;
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.navbar {
    background-color:white;
}

.dropdown-menu {
    font-family: latoRegular;
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    width: max-content;
}

.navbar a,
.navbar a:focus {
    color: black;
    transition: 0.3s;
}

.navbar a:hover {
    color: #e07a5f;
}

/* Menú desplegable características */
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 1px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 5px 0px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: white;
    box-shadow: 0px 0px 30px rgba(85, 91, 105, 0.25);
    transition: 0.5s;
}
  
/* Menú desplegable */
.navbar .dropdown ul a {
    font-size: 17px;
    font-family: latoLight;
    font-weight: bold;
    text-transform: uppercase;
}

/* Fondo de menú desplegable */
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    background-color: #EBE4EC;
}
  
/* Posición y visibilidad del menú desplegable */
.navbar .dropdown:hover ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}
  
.navbar .dropdown .dropdown:hover ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}
  

/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/

/* Imagen y Título de portada */
.contenedorPortada {
    position: relative;
    display: inline-block;
    text-align: center;
}

.contenedorPortada img {
    width: 100%;
    height: auto;
}

.tituloPortada {
    font-family: latoLight;
    text-transform: uppercase;
    position: absolute;
    top: 23vw;
    left: 15vw;
}

.tituloPortada h2 {
    font-weight: bold;
    font-size: 4vw;
    letter-spacing: 2px;
}

.tituloPortada p {
    text-align: center;
    letter-spacing: normal;
    font-size: 3vw;
    font-weight: bolder;
}


/* Sección Ingresos */
.ingresos {
    font-family: latoRegular;
    text-transform: uppercase;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.ingresosImg {
    margin: 0%;
    padding: 0%;
}

.ingresos h2 {
    font-size: x-large;
    font-weight: 700;
}

.tituloIngresos {
    margin-top: 4vw;
    margin-bottom: 3vw;
    margin-left: 7vw;
}

.itemIngresos p {
    margin-top: 2vw;
    margin-bottom: 5vw;
    font-weight: 500;
}
.itemIngresos:hover img {-webkit-transform:scale(1.1);transform:scale(1.1); transition: 0.6s;}
.itemIngresos {overflow:hidden;}


/* Sección Tiendas */
.indumentariaBikini {
    font-family: latoRegular;
    text-transform: uppercase;
    background-color: #EBE4EC;
    padding-top: 5vw;
}

.indumentariaBikini h2 {
    color: black;
    font-size: x-large;
    font-weight: 700;    
    text-align: center;
    padding-bottom: 4vw;
}

.tituloTienda h2 {
    font-size: 3.5vw;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;;
}

.flyTiendas p {
    text-align: center;
    letter-spacing: normal;
    font-size: 1.5vw;
    color: white;
    margin: 0%;
}

.flyTiendas a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1vw;
    border-radius: 4px;
    font-weight: 700;
}

.indumentariaBikini a:hover {
    color: #e07a5f;
}

.tiendas {
    padding: 0%;
    margin: 0%;
    text-align: center;
}

.flyTiendas img {
    width: 100%;
    height: auto;
}

.flyTiendas:hover img {-webkit-transform:scale(1.1);transform:scale(1.1); transition: 1s;}
.flyTiendas {overflow:hidden;}

.tituloTienda {
    position: relative;
    bottom: 38vw;
}


/* Sección Instagram */
.instagram {
    font-family: latoLight;
    text-transform: uppercase;
    padding-top: 4vw;
    padding-bottom: 4vw;
    background-color: #EBE4EC;;
}

.tituloInsta {
    padding-bottom: 4vw;
}

.tituloInsta h2 {
    text-align: center;
    font-size: 2vw;
    font-weight: 700;
}

.linkInstagram {
    margin: 0%;
    padding: 0%;
}

.enlacesInsta {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vw;
}

/* Sección Elegir */
.elegir {
    font-family: latoThin;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.elegir h2 {
    font-family: latoRegular;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 3vw;
}

.elegir p {
    font-weight: 700;
    font-size: 2vw;
}


/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/

.footer {
    font-family: latoRegular;
    color: white;
    background-color: black;
    padding-top: 4vw;
    padding-bottom: 4vw;
    margin: 0%;
}

.footer h2 {
    font-family: outfit;
    font-weight: bold;
    font-size: 3vw;
    text-transform: uppercase;
    margin-bottom: 2vw;
    letter-spacing: 2px;
}

.footer h3 {
    font-size: large;
}

.imagenSvgFooter {
    width: 3vw;
    height: auto;
}

.redes {
    padding-top: 3vw;
}



/* Fly Bikinis */
.tituloPortada2 {
    font-family: latoLight;
    text-transform: uppercase;
    position: absolute;
    top: 23vw;
    left: 15vw;
}

.tituloPortada2 h2 {
    font-family: latoRegular;
    font-weight: bold;
    font-size: 4vw;
    letter-spacing: 2px;
}

.tituloPortada2 p {
    text-align: center;
    letter-spacing: normal;
    font-size: 3vw;
    font-weight: bolder;
}

.productosBikinis {
    padding-top: 8vw;
    margin: 0%;
}

.fotosFlyBikinis {
    margin: 0%;
    padding: 0%;
}

.productosBikinis p {
    font-family: latoLight;
    margin-top: 1vw;
    margin-bottom: 5vw;
    font-weight: bold;
    text-transform: uppercase;
}

/* Fly Indumentaria */
.tituloPortada3 {
    font-family: latoLight;
    text-transform: uppercase;
    position: absolute;
    top: 23vw;
    left: 30vw;
    color: white;
}

.tituloPortada3 h2 {
    font-family: latoRegular;
    font-weight: bold;
    font-size: 4vw;
    letter-spacing: 2px;
}

.tituloPortada3 p {
    text-align: center;
    letter-spacing: normal;
    font-size: 3vw;
    font-weight: bolder;
}

/* Sobre Fly */
.sobreFly {
    padding: 0%;
    margin: 0%;
}

.sobreFly img {
    width: 100%;
    height: auto;
}

.titulo4 {
    padding: 0%;
    margin: 0%;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.titulo4 h2 {
    font-family: latoRegular;
    font-size: 3.5vw;
    font-weight: bold;
}

.imgSobreFly {
    padding: 0%;
    margin: 0%;
}

.quienesSomos {
    padding: 0%;
    margin: 0%;
    padding-top: 6vw;
    padding-bottom: 6vw;
}

.titulo5 {
    margin-bottom: 5vw;
}

.titulo5 h3 {
    font-family: latoRegular;
    font-weight: bold;
    font-size: 3vw;
}

.descripcion1 {
    padding-left: 12vw;
    padding-right: 12vw;
}

.descripcion1 p {
    font-family: latoLight;
    font-weight: bold;
    font-size: 2vw;
}

/* Contacto */
.contacto {
    padding: 0%;
    margin: 0%;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #C8ACA1;
}

.titulo5 {
    padding: 0%;
    margin: 0%;
    padding-bottom: 1vw;
}

.titulo5 h2 {
    font-family: latoLight;
    font-weight: bold;
    font-size: 3.5vw;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.subtituloContacto {
    padding: 0%;
    margin: 0%;
}

.subtituloContacto h3 {
    font-family: latoThin;
    font-weight: bold;
    font-size: 2vw;
}

/* Contacto */
.datos {
    margin: 0%;
    padding: 0%;
    padding-top: 6vw;
    padding-bottom: 6vw;
}

.itemsDatos h3 {
    font-family: latoLight;
    font-weight: bold;
    font-size: 4vw;
    padding-bottom: 4vw;
}

.itemsDatos p {
    font-family: latoThin;
    font-weight: bold;
    font-size: 1.8vw;
}

.imagenSvg {
    width: 2.5vw;
    height: auto;
    margin-bottom: 0.5vw;
}

.formulario {
    font-family: latoLight;
    font-weight: bold;
    padding-top: 1vw;
}

.inputs {
    margin-bottom: 2vw;
    text-align: center;
}

.textInput {
    width: 20vw;
    color: black;
    font-weight: bold;  
}

.boton {
    font-family: latoLight;
    color: black;
    font-weight: bold;
    background-color: #C8ACA1;
    border: none;
    border-radius: 4px;
    padding: 0.5vw;
    margin-right: 2vw;
    margin-left: 2vw;
    text-align: center;
}


/* Sección Ayuda */
.contenedorImgAyuda {
    position: relative;
    display: inline-block;
    text-align: center;
}

.contenedorImgAyuda img {
    width: 100%;
    height: auto;
}

.tituloAyuda {
    font-family: latoLight;
    text-transform: uppercase;
    position: absolute;
    top: 15vw;
    left: 25vw;
}

.tituloAyuda h2 {
    font-weight: bold;
    font-size: 5vw;
    letter-spacing: 1px;
    color: white;
}

.respuestas {
    margin: 0%;
    padding: 0%;
    margin-bottom: 6vw;
}

.respuestas h3 {
    font-family: latoRegular;
    font-weight: bold;
    font-size: 3vw;
    margin-top: 5vw;
}

.imgSvgAyuda {
    width: 3.5vw;
    height: auto;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 4vw;
    margin-bottom: 1.5vw;
}

.opciones {
    padding-left: 13vw;
    padding-right: 13vw;
}

.opciones h4 {
    font-family: latoLight;
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 1.1vw;
}

.opciones h5 {
    font-family: latoThin;
    font-weight: bold;
    font-size: 1.8vw;
    margin-bottom: 1.1vw;
}

.opciones p {
    font-family: latoLight;
    font-weight: normal;
    font-size: 1.5vw;
}

/* Políticas */
.contenedorImgPolitica {
    position: relative;
    display: inline-block;
    text-align: center;
}

.contenedorImgPolitica img {
    width: 100%;
    height: auto;
}

.tituloPolitica {
    font-family: latoLight;
    text-transform: uppercase;
    position: absolute;
    width: 40vw;
    text-align: left;
    top: 13vw;
    left: 3vw;
}

.tituloPolitica h2 {
    font-weight: bold;
    font-size: 5vw;
    letter-spacing: 1px;
    color: black;
}

.tituloRespuestas p {
    font-family: latoLight;
    font-weight: normal;
    font-size: 1.5vw;
    padding-left: 13vw;
    padding-right: 13vw;
    margin-top: 4vw;
}

