/*--------------------------------------------------------------
# SECCIÓN CONTACTO
--------------------------------------------------------------*/

.contacto {
    padding: 0%;
    margin: 0%;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: $color-terciario;
  }
  
  .titulo5 {
    padding: 0%;
    margin: 0%;
    padding-bottom: 1vw;
  
    h2 {
      font-family: outfit;
      font-weight: bold;
      font-size: 7vh;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
  
  .subtituloContacto {
    padding: 0%;
    margin: 0%;
  
    h3 {
      font-family: outfit;
      font-weight: normal;
      font-size: 5vh;
    }
  }
    
  .datos {
    margin: 0%;
    padding: 0%;
    padding-top: 6vw;
    padding-bottom: 6vw;
  }
  
  .itemsDatos {
    h3 {
      font-family: outfit;
      font-weight: normal;
      font-size: 5vh;
      padding-bottom: 4vw;
    }
  
    p {
      font-family: outfit;
      font-weight: normal;
      font-size: $tam-fuente-parrafo;
    }
  }
  
  .imagenSvg {
    width: auto;
    height: 5.5vh;
    margin-bottom: 0.5vw;
  }
  
  .formulario {
    font-family: latoRegular;
    font-size: 2.5vh;
    padding-top: 1vw;
  }
  
  .inputs {
    margin-bottom: 1.5vw;
    text-align: center;
  }
  
  .textInput {
    width: 20vw;
    color: black;
    font-weight: normal;
  }

  @media (max-width: 767px) {
    .textInput {
        width: max-content;
        color: black;
        font-weight: normal;
    }
  }
  
  .boton {
    font-family: outfit;
    text-transform: uppercase;
    color: black;
    background-color: #C8ACA1;
    border: none;
    border-radius: 4px;
    padding: 0.5vw;
    margin-right: 2vw;
    margin-left: 2vw;
    text-align: center;

    &:hover {
        color: white;
        
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: all 0.5s ease; 
      }
  }