/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/

.footer {
    font-family: outfit;
    color: white;
    background-color: black;
    padding-top: 12vh;
    padding-bottom: 12vh;
    margin: 0%;
  
    h2 {
      font-family: outfit;
      font-size: 3.5rem;
      text-transform: uppercase;
      margin-bottom: 6vh;
      letter-spacing: 2px;
    }
  
    h3 {
      font-size: medium;
    }
  }
  
  .imagenSvgFooter {
    width: auto;
    height: 6vh;
  }
  
  .redes {
    padding-top: 3vw;
  }