/*--------------------------------------------------------------
# SECCIÓN INGRESOS
--------------------------------------------------------------*/

.ingresos {
  text-transform: uppercase;
  margin-bottom: 5vh;
  padding-bottom: 0%;

  h2 {
    font-size: x-large;
  }
}

.ingresosImg {
  justify-content: space-around;
  margin: 0;

  img {
    margin-bottom: 5vh;
  }
}

.tituloIngresos {
  padding-top: 6vh;
  padding-bottom: 5vh;
  margin-left: 7vw;
}

.itemIngresos {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: max-content;

  p {
    font-size: $tam-fuente-parrafo;
    margin: 0;
  }

  .precios {
    margin-bottom: 7vh;
    font-weight: bold;
  }

  &:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.6s;
  }

  overflow: hidden;
}

.itemIngresos1 {
  padding-left: 25%;
  padding-right: 0;
  margin-right: 0;
}

.itemIngresos2 {
  padding-right: 25%;
  padding-left: 0;
  margin-left: 0;
}