/*--------------------------------------------------------------
# SECCIÓN INSTAGRAM Y ELEGIR
--------------------------------------------------------------*/

.instagram {
    font-family: outfit;
    text-transform: uppercase;
    padding-top: 4vw;
    padding-bottom: 4vw;
    background-color: $color-secundario;
  }
  
.tituloInsta {
    padding-bottom: 4vw;
  
    h2 {
      text-align: center;
      font-size: 2vw;
      font-weight: bold;
    }
  }
  
.enlacesInsta {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vw;
  }

  .linkInstagram {
    margin: 0;
  }
  
  /* Sección Elegir */
  
.elegir {
    font-family: latoRegular;
    padding-top: 4vw;
    padding-bottom: 4vw;
  
    h2 {
      font-family: outfit;
      font-weight: bold;
      font-size: 5vh;
      margin-bottom: 3vw;
    }
  
    p {
      font-weight: normal;
      font-size: 4vh;
    }
  }