/*--------------------------------------------------------------
# SECCIÓN INSTAGRAM Y ELEGIR
--------------------------------------------------------------*/

.instagram {
    font-family: outfit;
    text-transform: uppercase;
    padding-top: 12vh;
    padding-bottom: 10vh;
    background-color: $color-secundario;
  }
  
.tituloInsta {
    padding-bottom: 8vh;
  
    h2 {
      text-align: center;
      font-size: 6vh;
    }
  }
  
  .linkInstagram {
    margin: 0;
    padding: 0;
  }

  .enlacesInsta {
    padding: 0;
    margin: 0;
    margin-bottom: 2vw;
  }
  
  
  /* Sección Elegir */
  
.elegir {
    font-family: latoRegular;
    padding-top: 10vh;
    padding-bottom: 10vh;
  
    h2 {
      font-family: outfit;
      font-size: 5vh;
      margin-bottom: 9vh;
    }
  
    p {
      font-size: 4vh;
      padding-bottom: 2vh;
    }
  }