/*--------------------------------------------------------------
# QUIENES SOMOS
--------------------------------------------------------------*/
.sobreFly {
    padding: 0%;
    margin: 0%;
  
    img {
      width: 100%;
      height: auto;
    }
  }
  
  .titulo4 {
    padding: 0%;
    margin: 0%;
    padding-top: 7vh;
    padding-bottom: 7vh;
    border-top: solid black 3px;
    border-bottom:  solid black 3px;
  
    h2 {
      font-family: outfit;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 7vh;
    }
  }
  
  .imgSobreFly {
    padding: 0%;
    margin: 0%;
  }
  
  .quienesSomos {
    padding: 0%;
    margin: 0%;
    padding-top: 8vh;
    padding-bottom: 8vh;
  }
  
  .titulo5 {

    h3 {
      font-family: outfit;
      font-weight: bold;
      font-size: 5vh;
      margin-bottom: 5vh;
    }
  }
  
  .descripcion1 {
    padding-left: 12vw;
    padding-right: 12vw;
  
    p {
      font-family: outfit;
      font-weight: normal;
      font-size: $tam-fuente-parrafo;
    }
  }