/*--------------------------------------------------------------
# SECCIÓN TIENDAS
--------------------------------------------------------------*/

.indumentariaBikini {
    font-family: outfit;
    text-transform: uppercase;
    background-color: $color-secundario;
    padding-top: 5vw;
  
    h2 {
      color: black;
      font-size: xx-large;
      font-weight: bold;
      text-align: center;
      padding-bottom: 4vw;
      letter-spacing: 2px;
    }
}
  
.tituloTienda h2 {
    font-size: 3.5vw;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    padding-bottom: 1.7vw;
}
  
.flyTiendas {
    p {
      text-align: center;
      letter-spacing: normal;
      font-size: 1.8vw;
      color: white;
      margin: 0%;
    }
  
    a {
      @include anclas;
      color: black;
      font-size: 1.3vw;
      background-color: white;
      padding: 1vw;
      border-radius: 4px;
      font-weight: bold;

      &:hover {
        color: rgb(122, 73, 73);
        
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: all 0.5s ease; 
      }
    }
}
  
.tiendas {
    padding: 0%;
    margin: 0%;
    text-align: center;
}
  
.flyTiendas {
    img {
      width: 100%;
      height: auto;
      filter: grayscale(50%)
    }
  
    &:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      filter: grayscale(0%);
      transition: all 2s ease;
    }
  
    overflow: hidden;
}
  
.tituloTienda {
    position: relative;
    bottom: 38vw;
}