$color-principal: white;
$color-secundario: #b986869c;
$color-terciario: #C8ACA1;
$color-fuentes: black;
$tam-fuente-logo: 3.5rem;
$tam-fuente-sec: 3vh;
$tam-fuente-parrafo: 2.9vh;
$tam-fuente-h2: 5vw;
$color-hover: rgb(122, 73, 73);