$color-principal: white;
$color-secundario: #b986869c;
$color-fuentes: black;
$tam-fuente-logo: 5.5vh;
$tam-fuente-sec: 3vh;
$tam-fuente-parrafo: 2.9vh;
$tam-fuente-h2: 5vw;
$color-hover: rgb(122, 73, 73);